
[Service]
Type=forking
Restart=no
ExecStart=1USER_HOME1/.config/xsetwacom-gnome-symbiotic/setup.sh

[Install]
WantedBy=default.target
WantedBy=sys-devices-pci0000:00-0000:00:14.0-usb1-1\x2d1.device
